[ghq]
    root = ~/.ghq

[user]
	name = Hisashi Kamezawa
	email = hkame6926@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[github]
	hisas
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	cma = commit --amend
	df = diff
	gr = grep
        ad = add
        pl = pull
        rb = rebase -i
        rb2 = rebase -i head~2
        po = push origin head
        pu = push upstream head
